
<div class="background-grad" style="height: 100%;">
  <h1>Monty Hall !</h1>
  <br>
  <br>
  <form (ngSubmit)="startSimulation()">

    <table>
      <tr>
        <td><label for="numberOfGames">Number of Simulations</label></td>
        <td><input type="number" id="numberOfGames" [(ngModel)]="numberOfGames" name="numberOfGames" required class="styled-input"></td>
      </tr>

      <tr>
        <td><label for="chosenDoor">Choose a Door</label></td>
        <td> <select id="chosenDoor" [(ngModel)]="chosenDoor" name="chosenDoor" required class="custom-select">
          <option *ngFor="let door of doors" [value]="door">Door {{ door }}</option>
        </select>
        </td>
      </tr>

      <tr>
        <td><label for="switchDoor">Switch Door ?</label></td>
        <td>
          <!-- <input type="checkbox" id="switchDoor" [(ngModel)]="switchDoor" name="switchDoor" > -->
          <mat-checkbox class="example-margin" id="switchDoor" [(ngModel)]="switchDoor" name="switchDoor"></mat-checkbox>
        </td>
      </tr>

      <tr class="centered-td ">
        <td colspan="2" ><button type="submit" class="button">Start Simulation</button></td>
      </tr>
    </table>
  </form>
<br>
  <div *ngIf="result">
    <h2>Results</h2>
    <!-- <p *ngIf="result.switchWins > 0">Wins when switching: {{ result.switchWins }} ({{ result.switchWinPercentage.toFixed(2) }}%)</p> -->
    <div *ngIf="result.switchWins > 0">
      <p>Wins when switching: {{ result.switchWins }} ({{ result.switchWinPercentage.toFixed(2) }}%)</p>
      <div class="progress-container">
        <div class="progress-bar" [style.width]="result.switchWinPercentage + '%'">
          {{ result.switchWinPercentage.toFixed(2) }}%
        </div>
      </div>
    </div>
    <!-- <p *ngIf="result.stayWins > 0">Wins when staying: {{ result.stayWins }} ({{ result.stayWinPercentage.toFixed(2) }}%)</p> -->
    <div *ngIf="result.stayWins > 0">
      <p>Wins when staying: {{ result.stayWins }} ({{ result.stayWinPercentage.toFixed(2) }}%)</p>
      <div class="progress-container">
        <div class="progress-bar" [style.width]="result.stayWinPercentage + '%'">
          {{ result.stayWinPercentage.toFixed(2) }}%
        </div>
      </div>
    </div>
    <!-- <p>Total games: {{ result.switchWins + result.stayWins }}</p> -->

    
  </div>
</div>
