/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(
        135deg, 
        rgba(173, 216, 230, 1) 0%, 
        rgba(240, 248, 255, 1) 100% 
      );
      padding: 20px; 
      border-radius: 8px; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
      color: #333; 
      height: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.center-component {
  width: 40%; 
  margin: 0 auto; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

